body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f5f7;
}
.dashboard-container {
  display: flex;
  background-color: #f4f5f7;
  min-height: 100vh;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.sidebar {
  width: 250px;
  background-color: #1f2937;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.sidebar-link {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.2s;
}

.sidebar-link:hover {
  background-color: #374151;
}
