.topbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5CE65C;
  padding: 12px 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-bottom: 2px solid #e5e7eb;
}

.dashboard-title {
  font-size: 20px;
  font-weight: 700;
  color: #2563eb;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.farmer-name {
  font-weight: 600;
  color: #374151;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #374151;
  transition: 0.2s;
  position: relative;
}

.icon-btn:hover {
  color: #2563eb;
  transform: scale(1.1);
}

.logout {
  color: #ef4444;
}

.logout:hover {
  color: #b91c1c;
}

.notif-dot {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 8px;
  height: 8px;
  background-color: #ef4444;
  border-radius: 50%;
}


.search-result-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.search-result-item:hover {
  background: #f3f4f6;
}

.result-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.result-info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.product-name {
  font-weight: 600;
  color: #111827;
}

.product-category {
  font-size: 0.75rem;
  color: #6b7280;
}

.product-price {
  font-size: 0.8rem;
  color: #10b981;
}

.view-btn {
  background: #10b981;
  border: none;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.75rem;
  margin-left: auto;
}

.view-btn:hover {
  background: #059669;
}
